In [1]:
import numpy as np
import pandas as pd
import os
import requests
from bs4 import BeautifulSoup

In [2]:
WEBSITE = 'http://books.toscrape.com/'

In [3]:
html = requests.get(WEBSITE).text

In [4]:
soup = BeautifulSoup(html)

In [5]:
categories = soup.find('ul',class_ = "nav nav-list")
anchor = categories.find_all('a')
names=[]
links=[]
for item in anchor:
    names.append(item.text)
    links.append(WEBSITE + item.get('href'))
    
dictionary = {'Catergory Name':names,'Link':links}
df=pd.DataFrame(dictionary)

df.to_csv('categories.csv')

#print(names)

In [6]:
a = soup.find('ol', class_ = "row")
allbooks = a.find_all('li')
booknames = []
bookprices = []
ratings = []
availiblity = []
for item in allbooks:
    booknames.append(item.find('h3').getText())
    bookprices.append(item.find('p', class_="price_color").text.strip())
    ratings.append(item.find('p').get('class')[1])
    availiblity.append(item.find('div',class_ = 'product_price').find('p',class_ = 'instock availability').text.strip())
    
#print(booknames,bookprices,ratings,availiblity)

In [7]:
df = pd.DataFrame({
    "Bookname":  booknames, "Price": bookprices,"Ratings":ratings,"Availiblity": availiblity
    
})

df.head()

                       Bookname    Price Ratings Availiblity
0            A Light in the ...  Â£51.77   Three    In stock
1            Tipping the Velvet  Â£53.74     One    In stock
2                    Soumission  Â£50.10     One    In stock
3                 Sharp Objects  Â£47.82    Four    In stock
4  Sapiens: A Brief History ...  Â£54.23    Five    In stock